iframe.website-content {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

}

div.paywall {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;

  background: linear-gradient(transparent, lightgray, lightgray);
}
/* vim: sw=2 et */
